.color-button {
  padding: 20px;
  font-size: 2rem;
  background-color: #f2f4f3;
  cursor: pointer;
  border: 5px solid #0a0908;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.25s ease-in-out;
}

.color-button:hover {
  box-shadow: none;
}
